:root
{

	--primary-background-color: #111111;
	--secondary-background-color: #222222;
	--dark-background-color: #0A0A0A;

	--divider-color: #5D5D5D;

	--primary-text-color: #CCCCCC;
	--highlight-text-color: #FFFFFF;

	--danger-text-color: #FF0000;
	--danger-highlight-color: #FF4444;

	--selected-color: #FFAAAA;

}
