:root
{

	--title-bar-height: 32px;
	--normal-text-size: 16px;

}

html
{

	margin: 0px;
	padding: 0px;

}

body
{

	background-color: var(--primary-background-color);

	border: 5px solid var(--secondary-background-color);

	padding: 0px;
	margin: 0px;

	position: absolute;
	top: 0px;
	left: 0px;
	right: 0px;
	bottom: 0px;

	overflow: hidden;

}

#window-pane
{

	-webkit-app-region: drag;

	height: var(--title-bar-height);

	background-color: var(--secondary-background-color);

	padding: 0px;
	margin: 0px;

	overflow: hidden;

	position: relative;
	z-index: 100;

}

#window-pane-controls
{

	-webkit-app-region: no-drag;

	position: fixed;

	right: 2px;

	margin: 0px;

}

#window-pane-menus
{

	-webkit-app-region: no-drag;

	position: fixed;

	left: 2px;

	margin: 0px;

}

.window-pane-singlemenu
{

	height: var(--title-bar-height);

	float: left;
	overflow: hidden;

	background-color: var(--secondary-background-color);

	margin: 0px;
	padding: 0px;

}

.window-pane-menucontent
{

	display: none;
	position: absolute;
	min-width: 160px;

	top: 100%;

	background-color: transparent;

	margin: 0px;

}

.window-pane-singlemenu:hover .window-pane-menucontent
{

	display: block;

}

.window-pane-button
{

	width: var(--title-bar-height);
	height: var(--title-bar-height);

	padding: 0px 3px 0px 3px;

	margin: 0px;

}

.window-pane-menuitem
{

	font-size: var(--normal-text-size);
	color: var(--primary-text-color);

	background-color: var(--secondary-background-color);

	float: none;
	display: block;
	text-align: left;

	padding: 2px 5px 2px 5px;

	border-style: solid;
	border-width: 1px 0px 1px 2px;
	border-color: var(--divider-color);
	border-radius: 0px 10px 10px 0px;

	box-shadow: 5px 5px 2px black;

}

.window-pane-menuitem:hover
{

	color: var(--highlight-text-color);
	background-color: var(--primary-background-color);
	border-color: var(--primary-text-color);

}
