:root
{

        --dialog-header-height: 24px;

        --dialog-data-padding: 8px;

}

.base-content-area
{

        width: 100%;
        height: 100%;

        position: absolute;

        color: var(--primary-text-color);
        font-size: x-large;

        text-align: center;

        background-color: transparent;

        z-index: 1;

}

.base-content-text
{

        margin: 0;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

}

.tool-content-container
{

        width: 100%;
        height: 100%;

        z-index: 2;

        position: absolute;

        visibility: hidden;

}

.tool-content-area
{

        width: 100%;
        height: 100%;

        z-index: 2;

        position: absolute;

}

.tool-button
{

        background-image: linear-gradient(var(--secondary-background-color), var(--primary-background-color));

        color: var(--primary-text-color);

        border: 1px solid var(--divider-color);
        border-radius: 2px 6px 2px 6px;

        margin: 10px;

}

.tool-button-plus
{

    margin: 0px;
    padding: 0px;

    border-radius: 2px 6px 0px 0px;

    min-width: 25px;

}

.tool-button-minus
{

    margin: 0px;
    padding: 0px;

    border-radius: 0px 0px 2px 6px;

    min-width: 25px;

}

.tool-plusminus-buttons
{

    margin: 0px;
    padding: 0px;

}

.tool-button:hover
{

        background-image: linear-gradient(var(--divider-color), var(--secondary-background-color));
        color: var(--highlight-text-color);

        border-radius: 3px 7px 3px 7px;

        box-shadow: -1px 0px 1px 1px white;

}

.tool-dialog
{

        position: absolute;

        background-color: var(--dark-background-color);

        border: 2px solid var(--secondary-background-color);

        z-index: 3;

        border-radius: 6px 2px 6px 2px;

        visibility: hidden;

        overflow: hidden;

}

.tool-dialog-header
{

	height: var(--dialog-header-height);
        width: 100%;

	background-color: var(--secondary-background-color);

	padding: 0px;
	margin: 0px;

	overflow: hidden;

}

.tool-dialog-resize
{

    height: var(--dialog-header-height);
    width: var(--dialog-header-height);

    position: absolute;
    z-index: 4;

    bottom: 0px;
    right: 0px;

}

.tool-dialog-close
{

	position: absolute;

	right: 2px;

	margin: 0px;

    width: var(--dialog-header-height);
    height: var(--dialog-header-height);

}

.tool-dialog-canvas
{

}

.dialog-data-table
{

}

.dialog-data-row
{

}

.dialog-data-name
{

        color: var(--primary-text-color);
        font-weight: bold;
        font-size: var(--normal-text-size);

        border-bottom: 1px solid var(--secondary-background-color);

        padding: var(--dialog-data-padding);

}

.dialog-data-info
{

        color: var(--primary-text-color);

        padding: var(--dialog-data-padding);

}

.dialog-data-input
{

        padding: var(--dialog-data-padding);

}

.dialog-data-text
{

        color: var(--primary-text-color);
        background-color: var(--dark-background-color);

        font-size: var(--normal-text-size);

        padding: 4px;

        border: 1px solid var(--divider-color)

}

.dialog-data-select
{

        color: var(--primary-text-color);
        background-color: var(--dark-background-color);

        font-size: var(--normal-text-size);

        padding: 4px;

        border: 1px solid var(--divider-color);

        width: 100%;

}

.dialog-data-option
{

    color: color: var(--primary-text-color);
    font-size: var(--normal-text-size);

}

.dialog-data-buttons
{

        text-align: center;

}

input.dialog-data-integer:invalid
{

        box-shadow: -1px 0px 1px 1px red;

}

input.dialog-data-decimal:invalid
{

        box-shadow: -1px 0px 1px 1px red;

}

.popup-container
{

        width: 100%;
        height: 100%;

        position: absolute;

        background-color: rgba(0, 0, 0, 0.75);

        z-index: 1000;

        visibility: hidden;

}

.popup-box
{

        background-color: var(--dark-background-color);

        border: 2px solid var(--divider-color);

        border-radius: 6px 2px 6px 2px;

        overflow: hidden;

        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        visibility: hidden;

}

.popup-header
{

        height: var(--dialog-header-height);
        width: 100%;

        background-color: var(--divider-color);
        color: var(--primary-text-color);

        font-size: var(--normal-text-size);

        display: block;

        padding: 4px;
	    margin: 0px;

        overflow: hidden;

        border-top: 1px solid var(--divider-color);

}

.popup-data-table
{

        width: 100%;

}

.popup-data-row
{

}

.popup-data-name
{

        color: var(--primary-text-color);
        font-weight: bold;
        font-size: var(--normal-text-size);

        border-bottom: 1px solid var(--secondary-background-color);

        padding: var(--dialog-data-padding);

}

.popup-data-info
{

        color: var(--primary-text-color);

        padding: var(--dialog-data-padding);

}

.popup-data-input
{

        padding: var(--dialog-data-padding);

}

.popup-data-text
{

        color: var(--primary-text-color);
        background-color: var(--dark-background-color);

        font-size: var(--normal-text-size);

        padding: 4px;

        border: 1px solid var(--divider-color)

}

input.popup-data-file:invalid
{

        box-shadow: -1px 0px 1px 1px red;

}

.popup-data-buttons
{

        text-align: center;

}

.dangerous
{

        color: var(--danger-text-color);

}

.dangerous:hover
{

        color: var(--danger-highlight-color);

}

.tool-button.disabled
{

        color: var(--divider-color);

}
